   

   aside {

                padding-bottom: 20px;
                width: 400px;
                float: right;
                margin-left: 20px;

    }
    body {
                background-color: #f1f3f4;
                style: font-family Gill Sans, sans-serif;
            }

            hr {

                border-style: none;
                border-top-style: dotted;
                border-color: grey;
                border-width: 5px;
                width: 5%
            }

            h2 {
                color: #66BFBF
            }

          h3 {
                color: #66BFBF
            }